body{
    margin: 0;
    padding: 0;
    background-color:rgb(243, 197, 136);
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 85vh;
    display: grid;
    margin: 20px;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
}
.gridbox{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 4px 9px gray;
}
.getdata h1{
    padding-top: 15px;
    color: slateblue;
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
}
label{
    font-size:1.4em;
}
.inputfield{
    margin: 10px 0;
    padding: 5px;
    font-size: 1.3em;
    width: 80%;
    font-weight: 600;
}
button{
    font-size:1.4em;
    padding: 5px 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.getdata #getbudget{
    border: 1.5px solid rgb(243, 197, 136);
}

.getdata .expenseboxes{
    margin: 10% 20%;
    padding: 10px;
}
.expenseboxes #budgetbtn{
    color: rgb(179, 111, 23);
    border: 2px solid rgb(243, 197, 136);
}
.getdata #getexpense{
    border: 1.5px solid slateblue;
}
.getdata #getexpense #expensebtn{
    border: 2px solid slateblue;
    color: slateblue;
}

.displaydatatopfields{
    margin: 50px 60px;
    display: grid;
    grid-template-columns:200px 200px 200px;
    grid-template-rows: 200px;
    grid-gap: 20px;
}
.displaydatatopfields .items{
    border-radius: 5px;
    letter-spacing: 1px;
    text-align: center;
}
.displaydatatopfields .showbudgetbox{
  border: 1.5px solid slateblue;
 
}
.displaydatatopfields .showexpensesbox{
 border: 1.5px solid red;
}
.displaydatatopfields .showbalancebox{
    border: 1.5px solid slateblue;
}
.displaydatatopfields .items #displaydatagridboxestitle{
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.displaydatatopfields .items .fa{
color: slateblue;
font-size: 3em;

}
.displaydatatopfields .items .amountdetails{
    margin-top:5px;
    overflow: hidden;
    font-size: 3.2em;
    font-weight: 700;
}
.displaydatatopfields .items #setbudget{
    color: rgb(9, 212, 9);
}
.displaydatatopfields .items #setexpense{
    color: rgb(252, 13, 60);
}
.displaydatatopfields .items #setbalance{
    color: rgb(9, 212, 9);
}
.container .gridbox #expensemanager{
    padding:30px 70px;
    font-size: 1.5em;
    line-height: 2em;
    text-transform: uppercase;
    text-align: center;   
}

/*----------------------------------media query-----------------------------------*/

@media screen and (max-width:1200px){ 
.container{
    height: 100vh;
    margin: 10px;
    padding: 10px;
}
.getdata h1{
    font-size: 2.5em;
}
label{
    font-size:1.2em;
}
.inputfield{
    font-size: 1.3em;
}
.displaydatatopfields{
    margin: 50px 10px;
}
.displaydatatopfields .items{
    border-radius: 5px;
}
.container .gridbox #expensemanager{
    padding:60px 100px;
    font-size: 1.5em;
    line-height: 2em;
    text-transform: uppercase;
    text-align: justify; 
}
}

/*--------------Media query for 750px screen------------*/
@media  screen and (max-width:751px) {
    .container{
        height: 85vh;
        display: grid;
        margin: 0px;
        padding: 5px;
        grid-template-columns:350px 1fr;
        grid-template-rows: auto;
        grid-gap: 12px;
    }
    .gridbox{
        border-radius: 8px;
    }
    .getdata h1{
        padding-top: 12px;
        font-size: 2.5em;
    }
    label{
        font-size:1.3em;
    }
    .inputfield{
        margin: 10px 0;
        padding: 5px 10px;
        font-size: 1.3em;
        font-weight: 550; 
    }
    button{
        font-size:1.3em;
    }
    .getdata .expenseboxes{
        margin: 10% 5%;
    }
    .displaydatatopfields{
        margin: 50px 5px;
        display: grid;
        grid-template-columns:180px 180px;
        grid-template-rows:190px 190px;
        grid-gap: 10px;
    }
    .displaydatatopfields .items #displaydatagridboxestitle{
        font-size: 20px;
    }
    .displaydatatopfields .items .fa{
    font-size: 2.7em;
    }
    .displaydatatopfields .items .amountdetails{
        margin-top:5px;
        overflow: hidden;
        font-weight: 700;
    }
 
    .container .gridbox #expensemanager{
        padding:30px;
        line-height: 2em;
        text-transform: capitalize;
    }
}

/*--------------Media query for 410px screen------------*/
@media  screen and (max-width:411px) {
    .container{
        height: auto;
        display: grid;
        margin: 0px;
        padding: 0px;
        grid-template-columns:auto;
        grid-template-rows:  auto auto;
        grid-gap: 12px;
    }
    .gridbox{
        border-radius: 8px;
    }
    .getdata h1{
        padding-top: 12px;
        font-size: 2.4em;
    }
    label{
        font-size:1.2em;
    }
    .inputfield{
        margin: 10px 0;
        font-size: 1.3em;
    }
    button{
        font-size:1.3em;
    }
    .getdata .expenseboxes{
        margin: 10% 6%;
    }
    .displaydatatopfields{
        margin: 50px 18px;
        display: grid;
        grid-template-columns:160px 160px;
        grid-template-rows:190px 190px;
        grid-gap: 15px;
    }
    .displaydatatopfields .items #displaydatagridboxestitle{
        font-size: 20px;
    }
    .displaydatatopfields .items .fa{
    font-size: 2.7em;
    }
    .displaydatatopfields .items .amountdetails{
        margin-top:5px;
        overflow: hidden;
        font-weight: 700;
        padding-top:10px;
        font-size: 45px;
    }
 
    .container .gridbox #expensemanager{
        padding:30px;
        line-height: 2em;
        text-transform: capitalize;
    }
}
